@import url('../../global/theme.less');
@class-prefix-step: ~'adm-step';
@class-prefix-steps: ~'adm-steps';

@errorColor: #ff3141;
@primaryColor: #1677ff;
@iconBgColor: #e8e8e8;

:root {
  --line-to-next-color: #e5e5e5;
  --icon-color: #e5e5e5;
}

.@{class-prefix-step} {
  flex: 1;
  &-indicator {
    display: flex;
    align-items: center;
  }
  &-content {
    width: 95%;
  }
  &-title {
    color: #333;
    width: 100%;
    white-space: wrap;

    &-error {
      color: @errorColor;
    }
    &-finish {
      color: @primaryColor;
    }
    &-wait {
      color: #333;
    }
  }
  &-description {
    width: 100%;
    white-space: wrap;
  }
  
  &-icon-container {
    z-index: 1;
    background: #fff;
  }
  &-horizontal {
    flex-direction: column;
    align-items: flex-start;
    &-indicator {
      width: 100%;
      height: 24px;
      flex-direction: row;
    }
    &-line {
      flex: 1;
      height: 1px;
      background: #e8e8e8;
    }

    &-content {
      font-size: 12px;
      padding-top: 2px;
      &-description {
        margin-top: 2px;
        color: var(--adm-color-weak);
      }
    }
  }
  &-vertical {
    flex-direction: row;
    align-items: baseline;
    &-indicator {
      flex: none;
      width: 24px;
      height: 100%;
      margin-right: 8px;
      flex-direction: column;
    }
    &-line {
      flex: 1;
      width: 1px;
      background: #e8e8e8;
    }

    &-content {
      flex: auto;
      padding: 10px 0;
      &-title {
        font-size: 17px;
        line-height: 1.5;
      }
      &-description {
        padding-top: 2px;
        font-size: 15px;
        color: var(--adm-color-weak);
      }
    }
  }
  &-line {
    &-wait {
      background: #e8e8e8;
    }
    &-finish {
      background: #1677ff;
    }
    &-error {
      background: #ff3141;
    }
  }
}

.@{class-prefix-steps} {
  width: 100%;

  &-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 8px 0;
  }

  &-vertical {
    padding: 8px 16px;
  }
}

.@{class-prefix-step}-icon-container {
  font-size: 18px;
}

.@{class-prefix-step}-icon-dot {
  display: block;
  width: 8px;
  height: 8px;
  background: #e5e5e5;
  border-radius: 4px;
  &-wait {
    background: #e8e8e8;
  }
  &-process {
    background: #1677ff;
  }
  &-finish {
    background: #1677ff;
  }
  &-error {
    background: #ff3141;
  }
}
